body{
    background-color: cornflowerblue;
}
h1{
    color: burlywood;
    text-align: center;
    border: 6px solid;
    border-color: chartreuse;
    font-size: large;
    padding: 30px;
}
p{
    color: coral;
    text-align: center;
    border: 10px solid;
    border-color: aqua;
    font-size: 40px;
    margin: 100px;
}
a:link{
    color: greenyellow;
    background-color: transparent;
    text-decoration: none;
}
a:visited{
    color: aquamarine;
    background-color: transparent;
    text-decoration: none;
}
a:hover{
    color: floralwhite;
    background-color: transparent;
    text-decoration: none;
}