body{
    background-color: burlywood;
}
h1{
    text-align: center;
    color: greenyellow;
}
a{
    border: 6px;
    border-color: blue;
    align-items: center;
    padding: 30px;
}
img{
    align-items: center;
    border: 3px;
    border-color: aqua;
}
p{
    border: 6px;
    border-color: blue;
    align-items: center;
    padding: 30px;
}
p:link{
    color: aqua;
}